<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>formulator-springulator</title>
</head>
<body>
    <h1>hello in calculator-formulator-springulator</h1>

    <form method="post">
        <input type="number" name="first"></input>
        <select name="operator">
            <option>+</option>
            <option>-</option>
            <option>/</option>
            <option>*</option>
        </select>
        <input type="number" name="second"></input>
        <button type="submit">=</button>
    </form>

    <h3 th:text=" ${operand1} + ' ' + ${operator} + ' ' + ${operand2} + ' = ' + ${outcome}"></h3>
    <footer>

    </footer>
</body>
</html>